.account-container {
  width: 100%;
  .account-form-container {
    max-width: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .acount-edit-icon {
    &:hover {
      cursor: pointer;
    }
  }
  .account-profile-photo-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
