.card {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.container {
  background: var(--mantine-color-violet-3);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 700;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: rem(120px);
  width: 100%;
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(
    var(--mantine-color-violet-0),
    var(--mantine-color-violet-7)
  );
  transition: box-shadow 150ms ease, transform 100ms ease;

  &:hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.05);
  }
  @media (min-width: em(576px)) {
    width: rem(160px);
  }
}
