.tg-dashboard-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  /* min-width: 100vw; */
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-gray-900)
  );
  .tg-dashboard-content-container {
    width: 100%;
    max-width: 600px;
  }
}

.pd-plans {
  .pd-plans-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .pd-plans-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .pd-plan {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid rgba(15, 15, 15, 0.15);
        background-color: white;
        .cl_draggable {
          height: 17px;
          margin-top: 25px;
        }
        .pd-plan-details {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          gap: 4px;
          .pd-plan__name {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            color: rgba(18, 18, 18, 1);
          }
          .pd-plan-pricing {
            display: flex;
            align-items: center;
            gap: 6px;
            .pd-plan-pricing-main {
              display: flex;
              gap: 2px;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.5;
              color: rgba(18, 18, 18, 1);
            }
            .pd-plan-pricing-discounted {
              font-size: 14px;
              font-weight: 400;
              line-height: 1.5;
              color: rgba(18, 18, 18, 1);
              .pd-plan-pricing-discounted__price {
                text-decoration: line-through;
              }
              .pd-plan-pricing-discounted__off {
                margin-left: 6px;
                text-decoration: none !important;
                color: rgba(20, 120, 57, 1);
              }
            }
          }
          .pd-plan-members {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: rgba(18, 18, 18, 0.7);
          }
        }
        .pd-plan-actionables {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
    }
    .pd-plans__add-cta {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px 16px;
      background: #ffffff;
      border: 1px dashed #cacaca;
      border-radius: 10px;
      font-size: 14px;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.3);
      letter-spacing: 0.16px;
    }
  }
}

.pd-add-plan {
  .pd-add-plan__close {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .pd-add-plan-header {
    display: flex;
    align-items: center;
    padding: 18px 24px;
    border-bottom: 1px solid #e4e4e4;
    gap: 12px;
    font-size: 16px;
    line-height: normal;
    color: #121212;
  }
  .pd-add-plan-body {
    padding: 32px 24px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 26px;
    flex: 1;
  }
  .pd-add-plan-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-top: 1px solid #e4e4e4;
    gap: 16px;
    padding: 18px 24px;
  }
  .pd-add-plan-block-header {
    font-size: 16px;
    line-height: normal;
    color: #0f0f0f;
    margin-bottom: 8px;
  }
  .pd-add-plan-block-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .pd-add-plan-type-container {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .pd-add-plan-duration-container {
    padding-inline: 0;
    .row {
      margin-inline: -8px;
    }
    .row > div {
      padding-inline: 8px;
    }
  }
  .pd-add-plan-help-text {
    margin-top: 8px;
  }
  .pd-add-plan-help-block {
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: rgba(18, 18, 18, 0.5);
    letter-spacing: 0.28px;
  }
}
