.disclaimer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  gap: 16px;
  .disclaimer-title {
    line-height: 1.25rem;
    color: rgb(107 114 128 /1);
    font-size: 0.875rem;
  }
  .disclaimer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 12px;
    border: 2px solid #ececec;
    border-radius: 8px;
    gap: 4px;
  }
  .disclaimer-header {
    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: 700;
  }
  .disclaimer-description {
    line-height: 1rem;
    color: rgb(73, 80, 95);
    font-size: 0.75rem;
  }
}
