.list-files-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 8px;
  .list-files-content-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid
      light-dark(
        var(--mantine-color-gray-3),
        var(--mantine-color-dark-4)
      );
    border-radius: 8px;
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-gray-8)
    );
  }
  .list-files-image {
    min-width: 40px;
    min-height: 24px;
    border-radius: 8px;
  }
  .list-files-text-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .list-files-text {
    color: var(--mantine-color-gray-7);
    text-align: left;
    word-wrap: break-word;
    font-size: small;
  }
  .list-files-delete {
    padding: 5px;
    border-radius: 4px;
    &:hover {
      background-color: var(--mantine-color-red-1);
      cursor: pointer;
    }
  }
  .list-files-delete-icon {
    color: var(--mantine-color-red-9);
  }
}
