.nexify-custom-plans-container {
  display: flex;
  flex-direction: column;
  color: rgba(15, 15, 15, 0.75);
  gap: 16px;
  .nexify-custom-plans-about-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .nexify-custom-plans-about-container
    .nexify-custom-plans-title {
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: 500;
  }
  .nexify-custom-plans-about-container
    .nexify-custom-plans-about-info {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    border-radius: 5px;
    background: #fffaeb;
    gap: 8px;
  }
  .nexify-custom-plans-about-info
    .nexify-custom-plans-about-title {
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
  }
  .nexify-custom-plans-about-info
    .nexify-custom-plans-about-description {
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
  }
  .nexify-plan-edit-card-subsctiption-option {
    width: 100%;
  }
  .nexify-plan-edit-card {
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 10px;
    background: #ffffff;
    transition: transform 0.05s ease-in-out;
  }
  .nexify-plan-edit-card .nexify-plan-edit-card-content {
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    gap: 16px;
  }
  .nexify-plan-edit-card .nexify-plan-edit-info-text {
    line-height: remCal(19);
    color: rgba(18, 18, 18, 0.7);
    font-size: remCal(14);
    font-style: normal;
    font-weight: 400;
  }
  .nexify-plan-edit-card-flex-one {
    flex: 1;
  }
  .nexify-savedPlan {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 80px;
    padding: 12px 16px;
    border: 1px solid rgba(15, 15, 15, 0.15);
    border-radius: 8px;
    transition: transform 0.05s ease-out;
  }
  .nexify-savedPlan-title {
    line-height: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  .nexify-savedPlan-planCost {
    line-height: 20px;
    color: #999;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .price-type-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(15, 15, 15, 0.15);
    border-radius: 12px;
    color: rgba(15, 15, 15, 0.75);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    gap: 16px;
  }
}
