.icon {
  width: rem(16px);
  height: rem(16px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.actionIcon {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
