.lc-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 30px 0px;
  &.lc-container-animation {
    /* #0d7dd8, */
    /* #72dfe5, */
    /* #4368c9,  */
    /* background: linear-gradient(
      279deg,
      #8facf5,
      #72a0e5,
      #c8acfc
    ); */
    /* background-color: var(--mantine-color-gray-1); */
    background-size: 180% 180%;
    animation: gradient-animation 21s ease infinite;
    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
  @media (min-width: em(767px)) {
    padding: 60px 0px;
  }
  .edit-icon {
    color: var(--mantine-color-gray-4);
  }
  .signupPaper {
    width: 90%;
    max-width: 600px;
    @media (min-width: em(767px)) {
      width: 50%;
    }
  }
  .auth-title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: 25px;
    font-weight: 700;
  }
  .auth-title-alter {
    font-size: 26px;
    font-weight: 700;
  }

  .lc-create-from-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }
}
