.lc-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 60px 0px;

  &.lc-container-animation {
    /* background-color: var(--mantine-color-gray-1); */
    background: linear-gradient(
      279deg,
      /* #0d7dd8,
      #72dfe5,
      #4368c9, */ #540dd8,
      #72a0e5,
      #7243c9
    );
    background-size: 180% 180%;
    animation: gradient-animation 21s ease infinite;
    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    padding-top: 75px;
  }
  .edit-icon {
    color: var(--mantine-color-gray-4);
  }
  .icon-auth {
    color: var(--mantine-color-blue-9);
  }
  .icon {
    cursor: pointer;
  }
  .signupPaper {
    width: 90%;
    max-width: 600px;
    @media (min-width: em(767px)) {
      width: 50%;
    }
  }
  .auth-title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: 25px;
    font-weight: 700;
  }

  .lc-create-from-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }
}
