.ctg-s1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .ctg-s1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 12px;
  }
  .ctg-s1-input {
    width: -webkit-fill-available;
  }
  .ctg-s1-radio-group {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;

    .mantine-Radio-root {
      padding: 8px;
      margin-top: 6px;
      border: 1px solid var(--mantine-color-gray-3);
      border-radius: 4px;
    }
    .mantine-Radio-labelWrapper {
      width: -webkit-fill-available;
      &:hover {
        cursor: pointer !important;
      }
    }
    .mantine-RadioGroup-label {
      margin-bottom: 2px;
    }
  }
}

.ctg-s2-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  .ctg-s2-radio-container {
    width: 100%;
  }
  .ctg-s2-radio-group {
    .mantine-Radio-root {
      padding: 8px;
      border: 1px solid var(--mantine-color-gray-3);
      border-radius: 4px;
      @media (max-width: em(576px)) {
        height: 88px;
      }
    }
  }
  .ctg-s2 {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 12px;
  }
}

.ctg-s3-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  .ctg-s2-radio-group {
    .mantine-Radio-root {
      padding: 8px;
      border: 1px solid var(--mantine-color-gray-3);
      border-radius: 4px;
    }
  }
  .ctg-s3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }
}
