@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* background-image: radial-gradient(
    120% 140% at 50% 10%,
    transparent 40%,
    hsla(210, 100%, 90%, 0.2) 70%
  ) ; */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
ul {
  padding: 0;
  list-style: disc;
}
ol {
  padding: 0;
  list-style: decimal;
}
h2 {
  line-height: 1.33333;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}
h3 {
  line-height: 1.6;
  color: #111827;
  font-size: 1.25em;
  font-weight: 600;
}
p {
  @apply text-base font-normal leading-7 text-gray-700;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
      width: 1px;
    }
  }
  .text-balance {
    text-wrap: balance;
  }
}

.mantine-Drawer-header {
  padding: 0px var(--mantine-spacing-md);
  border-bottom: 1px solid #e4e4e4;
}
.mantine-Drawer-title {
  font-weight: 600;
}
.mantine-Modal-header {
  height: 30px;
  border-bottom: 1px solid #e4e4e4;
}

.mantine-Modal-title {
  font-weight: 600;
}
.mantine-TextInput-section[data-position='right'] {
  font-size: small;
}
.mantine-NumberInput-section[data-position='right'] {
  font-size: small;
}
