@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
ul {
  list-style: disc;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
ol {
  list-style: decimal;
  padding: 0;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
      width: 1px;
    }
  }
  .text-balance {
    text-wrap: balance;
  }
}

.mantine-Drawer-header {
  padding: var(--mantine-spacing-md);
  border-bottom: 1px solid #e4e4e4;
}
.mantine-Drawer-title {
  font-weight: 600;
}
.mantine-Modal-header {
  padding: var(--mantine-spacing-md);
  border-bottom: 1px solid #e4e4e4;
}
.mantine-Modal-title {
  font-weight: 600;
}
.mantine-TextInput-section[data-position='right'] {
  font-size: small;
}
.mantine-NumberInput-section[data-position='right'] {
  font-size: small;
}
