@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}
p {
  line-height: 20px;
  opacity: 0.8;
  font-size: 13px;
  font-weight: 200;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.mantine-Drawer-header {
  padding: var(--mantine-spacing-md);
  border-bottom: 1px solid #e4e4e4;
}
.mantine-Drawer-title {
  font-weight: 600;
}
.nexify-rightsection-change {
  .mantine-TextInput-section {
    padding: 0px 25px;
    background-color: #ffffff;
    font-size: small;
  }
  .mantine-NumberInput-section {
    padding: 0px 25px;
    background-color: #ffffff;
    font-size: small;
  }
}
