/* .topContainer {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
} */
.link {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: rem(10px);
  margin-bottom: 10px;
  border-radius: var(--mantine-radius-md);
  color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
  );
  gap: 10px;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
    cursor: pointer;
  }

  &[data-active] {
    &,
    &:hover {
      color: var(--mantine-color-blue-light-color);
      background-color: var(--mantine-color-blue-light);
    }
  }
}

.footer {
  padding: rem(4px);
  border-top: 1px solid
    light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-dark-4)
    );
  border-radius: inherit;
}
.footerButton {
  /* &:hover {
    background-color: var(--mantine-color-red-0);
    color: var(--mantine-color-red-9);
  } */
}

.text {
  font-size: small;
  font-weight: 400;
}

.company {
  display: flex;
  align-items: center;
  color: light-dark(
    var(--mantine-color-violet-9),
    var(--mantine-color-violet-1)
  );
  cursor: pointer;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: large;
  font-weight: 600;
  gap: 4px;
  /* border-bottom: 1px solid
    light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-dark-4)
    ); */
  @media (max-width: em(767px)) {
    display: none;
  }
}

.header {
  color: var(--mantine-color-white);
  background: var(--mantine-color-gray-9);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: large;
  font-weight: 600;
}

.appshellMain {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-gray-900)
  );
}
