.link {
  margin-bottom: 10px;
  width: 100%;
  padding: rem(10px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
  );

  &:hover {
    cursor: pointer;
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}

.footerButton {
  width: 100%;
  padding: rem(10px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-dark-0)
  );

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }
}

.text {
  font-weight: 400;
  font-size: small;
}

.company {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  font-size: large;
  border-bottom: 1px solid var(--mantine-color-gray-3);
  @media (max-width: em(767px)) {
    display: none;
  }
}

.footer {
  border-top: 1px solid var(--mantine-color-gray-3);
}

.header {
  background: var(--mantine-color-gray-9);
  color: var(--mantine-color-white);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  font-size: large;
}
